@import "../styles/variables.scss";

.daily-weather-box {
  display: grid;
  grid-template-columns: 1.4fr 3fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  margin: 8px 0;

  span {
    font-size: 18px !important;
  }

  img {
    display: block;
    margin: 0 auto;
    width: 35px;
    height: 35px;
  }

  .daily-temperature {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;

    .lowest-temp {
      color: $light-blue-text;
    }

    .bar {
      display: flex;
      height: 6px;
      width: 120px;
      background-color: #00000017;
      border-radius: 6px;
      align-items: center;

      .progress-bar {
        height: 6px;
        width: 120px;
        border-radius: 6px;
        position: relative;

        .outside-ball {
          height: 8px;
          width: 8px;
          border-radius: 50%;
          background-color: #2988c7;
          position: absolute;
          bottom: -0.9px;

          .ball {
            height: 5px;
            width: 5px;
            background-color: #fff;
            border-radius: 50%;
            position: absolute;
            top: 1.5px;
            left: 1.5px;
          }
        }
      }
    }
  }
}

