$text-color: #fff;
$light-blue-text: #83cbf7;
$light-grey-color: #dae1e8;
$tiles-background: #00000017;
$suny-day: linear-gradient(145deg, #ffed4b -40%, #2f99df 40%);
$clear-night: linear-gradient(90deg, rgba(2,0,36,1) 50%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
$cloudy: linear-gradient(180deg, #fff -20%, #245C81 40%);
$party-cloudy: linear-gradient(180deg, #fff -40%, #2f99df 40%);
$mist: linear-gradient(180deg, #fff -10%, #245C81 80%);
$rain: linear-gradient(180deg, #fff -50%, #444e55 40%);

$podNulou: #72c1f6;
$nula: #80ceda;
$deset: #86d0c7;
$patnact: #80a5a4;
$dvacet: #dbd076;
$dvacetPet: #f3a63b;
$tricet: #ee7a37;
$tricetPet: #ed623c;
$ctyricet: #d24233;
$ctyricetPet: #a42d21;
